<template>
  <div>
    <product-list :title="data.title" :products="products" :type="type"></product-list>
    <v-row v-if="loading" class="justify-center mt-3 mb-3">
      <v-progress-circular indeterminate size="50"></v-progress-circular>
    </v-row>
  </div>
</template>

<script>
import ProductList from "@/components/product-list";
export default {
  name: "index",
  components: {ProductList},
  async asyncData(context) {
    const type = context.params.type
    const data = await context.$axios.get('/api/product/special-products/' + type, {withCredentials:true})
    return {
      data : data.data.data,
      type: type,
      products: data.data.data.products.data,
      next_page_url: data.data.data.products.next_page_url,
    }
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    getNextData() {
      window.onscroll = () => {
        let bottomOfWindow = document.documentElement.scrollTop + window.innerHeight === document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          this.getData()
        }
      }
    },
    async getData() {
      if (this.next_page_url != null && this.loading == false) {
        this.loading = true;
        let data = await this.$axios.get(this.next_page_url)
        data.data.data.products.data.forEach((val)=>{
          this.products.push(val)
        })
        this.next_page_url = data.data.data.products.next_page_url
        this.loading = false;
      }
    },
  },
  mounted() {
    this.getNextData();
  }
}
</script>

<style scoped>

</style>
