<template>
  <div>
    <v-app-bar
      color="white accent-4"
      dense
      style=" background-color: #c0e218!important"
    >
      <v-btn icon>
        <v-icon color="black">mdi-magnify</v-icon>
      </v-btn>
      <v-spacer></v-spacer>

      <v-toolbar-title class="text--black darken-5">{{ this.title }}</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn icon @click="$router.go(-1)">
        <v-icon color="black">mdi-arrow-left</v-icon>
      </v-btn>

    </v-app-bar>
    <v-row class="mt-5 mb-2 mr-3">
      <span class="display-6 font-weight-bold">فیلتر ها</span>
    </v-row>
    <v-row class="mr-3 mb-5 mx-auto">
      <v-sheet
        rounded="rounded"
        class="pa-0 mr-0"
        max-width="98%"
      >
        <v-slide-group
          class=" mx-auto"
          active-class="success"
        >
          <v-chip color="black" text-color="white" class="ml-1" to="?s=test" v-for="n in 25" style="background-color: #111d5e!important">test</v-chip>
        </v-slide-group>
      </v-sheet>
    </v-row>
    <v-row class="d-flex">
      <v-col>
        <template
        >
          <v-btn
            depressed
            color="white"
            @click="sheet = !sheet"
          >
            <v-icon>mdi-filter-variant</v-icon>
          </v-btn>
          <v-bottom-sheet
            v-model="sheet"
          >
            <v-sheet
              class="text-center rounded-t-xl my-auto"
            >
              <div class="my-3" style="background-color: whitesmoke">
                <v-row>
                  <template>
                    <v-card
                      width="100%"
                      flat
                      color="transparent"
                    >
                      <v-subheader>محدوده قیمت را وارد کنید</v-subheader>

                      <v-card-text>
                        <v-row>
                          <v-col class="px-4">
                            <vue-slider
                              class="mx-2"
                              v-model="value"
                              :dot-options="dotOptions"
                            ></vue-slider>
                          </v-col>
                        </v-row>
                      </v-card-text>
                    </v-card>
                  </template>
                </v-row>
                <v-row>
                  <v-card width="100%" flat>
                    <v-card-title>حافظه رم</v-card-title>
                    <v-btn-toggle multiple>

                      <v-col>
                        <v-btn depressed rounded outlined class="ma-2" v-for="n in 5">
                          <span>2GB Ram</span>
                        </v-btn>
                      </v-col>

                    </v-btn-toggle>
                  </v-card>
                </v-row>
                <v-row class="mx-2 mb-1">
                  <v-col>
                    <v-btn
                      width="100%"
                      depressed
                      rounded
                      color="error"
                    >
                      فیلتر
                    </v-btn>
                  </v-col>
                  <v-col>
                    <v-btn
                      width="100%"
                      color="black"
                      rounded
                      outlined
                      @click="sheet = !sheet"
                      depressed
                    >
                      انصراف
                    </v-btn>
                  </v-col>
                </v-row>
              </div>
            </v-sheet>
          </v-bottom-sheet>
        </template>
      </v-col>
      <v-spacer></v-spacer>
      <v-col class="ml-1 d-flex justify-end">
        <v-btn
          depressed
          color="white"
          @click="sheet1= !sheet1"
        >
          <v-icon>mdi-sort</v-icon>
          <span>{{ filter }}</span>
        </v-btn>
        <v-bottom-sheet
          v-model="sheet1"
        >
          <v-sheet
            class="text-center rounded-t-xl"
            height="30%"
          >
            <v-btn
              class="col-12"
              text
              style="background-color: #ff4f4f; border-radius: 25px; border-style: solid; border-width: 3px; border-color: white"
              color="white"
              @click="sheet1 = !sheet1"
            >
              بستن
            </v-btn>
            <div class="my-3" @click="sheet1 = !sheet1">
              <v-row>
                <v-btn v-if="this.type != 'latest'" class="col-12" elevation="12" color="white--smoke" height="60" @click="filterBy('newest')">
                  جدید ترین
                </v-btn>
                <v-btn class="col-12" elevation="12" color="white--smoke" height="60" @click="filterBy('cheapest')">
                  هزینه: کم به زیاد
                </v-btn>
                <v-btn class="col-12" elevation="12" color="white--smoke" height="60" @click="filterBy('expensive')">
                  هزینه:‌زیاد به کم
                </v-btn>
              </v-row>
            </div>
          </v-sheet>
        </v-bottom-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="3" v-for="product in productsArray" >
        <product-card class="mr-3 ml-3" :thumbnail="product.thumbnail" :id="product.id" :colors="product.colors" :title="product.title" :list="product.list" :subtitle="product.subtitle" :price="product.price" :discount="product.discount" :like="product.like"></product-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "product-list",
  props: ['title', 'products', 'type', 'id'],
  data: function () {
    return {
      sheet: false,
      sheet1: false,
      sheet2: false,
      value: [1000, 250000000],
      dotOptions: [{
        tooltip: 'always'
      }, {
        tooltip: 'always'
      }],
      filter: 'فیلتر ها',
      productsArray: this.products,
    }
  },
  methods: {
    async filterBy(value) {
      await this.$axios.$post('/api/product/filter', {
        type: this.$props.type,
        id: this.$props.id,
        value : value
      }).then((res) => {
        this.productsArray = res
      })
      switch(value) {
        case 'newest':
          this.filter = 'جدید ترین'
          break;
        case 'cheapest':
          this.filter = 'هزینه: کم به زیاد'
          break;
        case 'expensive':
          this.filter = 'هزینه:‌زیاد به کم'
          break;
        default:
        // code block
      }
    },
  }
}
</script>

<style scoped>
.v-dialog.v-dialog--active.v-dialog--scrollable.v-bottom-sheet{
  overflow-y: auto;
  overflow-x: hidden;
}
</style>
