<template>
    <v-card
      elevation="8"
      :to="`product/${id}`"
    >
      <v-img
        :src="url + this.thumbnail"
      >
      </v-img>
      <v-btn small absolute left fab @click.stop.prevent="likeProduct()">
        <v-icon color="red">{{ this.likeStatus ? 'mdi-heart' : 'mdi-heart-outline'}} </v-icon>
      </v-btn>
      <div class="my-2 d-flex justify-right">
        <v-col>
          <v-chip v-for="color in this.colors" :key="color" :color="color" class="product-colors mx-2">

          </v-chip>
        </v-col>
      </div>

      <v-btn small color="red" absolute top left class="mt-2">
        <span class="white--text">{{ this.discount }}%-</span>
      </v-btn>

      <v-card-title primary-title style="position: relative" class="pt-0">
        <div>
          <h3 class="headline mb-0">{{ this.title }}</h3>
        </div>
      </v-card-title>

      <v-card-text class="ml-0 pl-0">
        <div>
          <v-card-subtitle dir="ltr">{{ this.subtitle }}</v-card-subtitle>
        </div>

        <div style="text-align: left" class="d-flex">
          <v-spacer></v-spacer>
          <ul>
<!--            <li style="line-height:0; list-style: none" v-html="this.list">-->
            <li style="list-style: none" v-html="this.list">
            </li>
          </ul>
        </div>
        <span style="text-align: right" class="font-weight-black">{{ this.price}} تومان</span>
      </v-card-text>
    </v-card>

</template>

<script>
export default {
  name: "product-card",
  props:['id','title','subtitle','list','thumbnail','colors','price', 'like', 'discount'],
  data(){
    return{
      url : process.env.baseUrl,
      likeStatus : this.like
    }
  },
  methods: {
    async likeProduct() {
      await this.$axios.$post('/api/product/like', {
        product_id: this.$props.id,
      }).then((res) => {
        this.likeStatus = res.data.like
      })
    },
  }
}
</script>

<style scoped>
span.product-colors.v-chip.theme--light.v-size--default{
  height: 15px;
  width: 30px;
  border-radius: 0px;
  border: 0.1px solid black !important;
}
span.product-colors.v-chip.theme--dark.v-size--default{
  height: 15px;
  width: 30px;
  border-radius: 0px;
  border: 0.1px solid black !important;
}
</style>
